*.tmp
v0
v1
*.v*
nod_modules
.*.swp
*.bak
*.25pc
tmp*
temp*
*.debug
testparam.py
solution
works_1945
__pycache__
__init__
calc.py
mymod.py
mock-help.py
test7.py
test_client_t6.py
my_module.py
patch_loc.py
train
